---
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta %}

    <meta name="description" content="404" />

    <title>404</title>
  </head>
  <body>
    <div class="o-container">
      <h1>404</h1>

      <p>Not Found.</p>

      {% include back %}
      {% include footer %}
    </div>
  </body>
</html>
