<div class="o-container">
  <div class="o-footer">
    <p>
      <a href="https://joshnesbitt.dev">Josh Nesbitt</a>
      ·
      <a href="https://instagram.com/joshnesbitt">Instagram</a>
    </p>
  </div>
</div>
