.u-margin { margin: $spacing-unit; }
.u-margin-top { margin-top: $spacing-unit; }
.u-margin-right { margin-right: $spacing-unit; }
.u-margin-bottom { margin-bottom: $spacing-unit; }
.u-margin-left { margin-left: $spacing-unit; }
